PORT=5001
MONGO_URL=mongodb+srv://<user>:<password>@cluster.mongodb.net/ssb
JWT_SECRET=your_jwt_secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin_password
FAST2SMS_API_KEY=your_fast2sms_key
CLIENT_URL=http://localhost:3000
MSG91_AUTHKEY=your_msg91_key
VERIFY_ACCESS_TOKEN_URL=
WEB_HEAD_EMAIL=
WEB_HEAD_PASSWORD=
EMAIL_USER=
EMAIL_PASS=
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
# Add other keys as needed
